body {
    background-color: rgb(179, 19, 18);
    text-align: center;
    font-size: x-large;
    color: rgb(43, 42, 76);
}

h2 {
    text-decoration: underline;
}

img {
    width: 500px;
}

button {
    background-color: rgb(43, 42, 76);
    color: rgb(238, 226, 222);
}


/* .hidden {
    display: none;
    visibility: hidden;
} */

.container {
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    background-color: rgb(234, 144, 108);
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.info-container {
    background-color: rgb(238, 226, 222);
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.buttons {
    text-align: center;
}